// Color background

.teal-background {
  background-color: $color-teal;
}

.darkblue-background {
  background-color: $color-darkblue;
}

// Image backgrounds

.bgc-who-background {
  background-image: url("../assets/img/who-bg-image.jpg");
  background-size: contain;
  background-position: center;
}
