// icons

.hero-svg {
  width: auto;
  height: auto;
  max-width: 12%;
}

.aside-text-svg {
  width: auto;
  height: auto;
  max-width: 100%;
}

.aside-text-svg-90 {
  width: auto;
  height: auto;
  max-width: 90%;
}

// External link

.external-link-svg {
  width: auto;
  height: 0.8em;
}

// Mobile
@media screen and ( max-width: 600px ) {
  .hero-svg {
    max-width: 15%;
  }

  .aside-text-svg-90 {
    max-width: 80%;
    margin: 0 auto;
    display: block;
  }
}
