// icons

.hero-svg {
  width: auto;
  height: auto;
  max-width: 12%;
}

.aside-text-svg {
  width: auto;
  height: auto;
  max-width: 100%;
}

// External link

.external-link-svg {
  width: auto;
  height: 0.8em;
}

// Mobile
@media screen and ( max-width: 600px ) {
  .hero-svg {
    max-width: 15%;
  }
}
