// icons

.hero-svg {
  width: auto;
  height: auto;
  max-width: 12%;
  max-height: 70px;
}

.aside-text-svg {
  width: auto;
  height: auto;
  max-width: 100%;
}

.aside-text-svg-90 {
  width: auto;
  height: auto;
  max-width: 90%;
}

.aside-text-svg-70 {
  width: auto;
  height: auto;
  max-width: 70%;
}


// External link

.external-link-svg {
  width: auto;
  height: 0.8em;
}

// Mobile
@media screen and ( max-width: 600px ) {
  .hero-svg {
    max-width: 15%;
  }

  .aside-text-svg-90 {
    max-width: 80%;
    margin: 0 auto;
    display: block;
  }

  .aside-text-svg-70 {
    max-width: 70%;
    margin: 0 auto;
    display: block;
  }
}

// Tablet

@media (min-width: 601px) and (max-width: 1024px) {
  .aside-text-svg-90 {
    max-width: 70%;
    margin: 0 auto;
    display: block;
  }

  .aside-text-svg-70 {
    max-width: 60%;
    margin: 0 auto;
    display: block;
  }
}
