// External link

.external-link-anchor {
  font-size: 0.8em;
  font-family: $text-header;
  letter-spacing: 2px;
  color: $color-darkblue;
  font-weight: $text-weight-bold;
  text-decoration: none;
}
